<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416745403557-ik3eodsm9coto54klaqtcaf1l1srb4ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416745403557-ik3eodsm9coto54klaqtcaf1l1srb4ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkxwhkN6ltI6rAtAprglFRj_2wI1MtSM</string>
	<key>GCM_SENDER_ID</key>
	<string>416745403557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gloomhelper</string>
	<key>PROJECT_ID</key>
	<string>gloomhelper</string>
	<key>STORAGE_BUCKET</key>
	<string>gloomhelper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416745403557:ios:d59b9ee9482c9e7bbe894c</string>
</dict>
</plist>